@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 폰트 설정 */
@font-face {
  font-family: 'Gidugu';
  src: url('assets/fonts/Gidugu-Regular.ttf');
}

:root {
  --font-primary: 'Gidugu', sans-serif;
  --font-secondary: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-bg-light: #ffffff;
  --color-bg-dark: #242424;

  --color-text-light: #213547;
  --color-text-dark: rgba(255,255,255,0.87);
}

/* 글로벌 스타일 */
body {
  margin: 0;
  font-family: var(--font-secondary);
}


/* 반응형 레이아웃 */
.container {
  @apply mx-auto px-4;
}

@media (min-width: 640px) {
  .container {
    @apply px-6;
    max-width: none;
    font-size: larger;
    color:red ;
}
}